* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  background-color: #f2eae2;
}
.card {
  width: 343px;
  height: 611px;
}
.image {
  width: 343px;
}
